.project-card {
    border: 1px solid #f4f4f4;
    padding: 16px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .project-card h3 {
    margin-top: 10px;
  }
  
  .project-card p {
    margin: 10px 0;
  }
  
  .project-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  